table {
    width: 100%;
}

th {
    font-size: 25px;
    color: white;
    text-align: end;
    padding-right: 10px;
    width: calc(1/7*100vw)
}

td{
    border: 0.25px solid rgb(96, 96, 96);
    font-size: 20px;
    text-align: end;
    padding: 10px;
    height: calc(1/6*100vh);
    color: white;
}