.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.today {
  color: rgb(255, 86, 86);
}

/* .flexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-bottom: 2px solid grey;
}

.flexContainer > div {
  color: white;
  text-align: right;
  font-size: 20px;
  
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.gridItem {
  border: 0.25px solid rgb(101, 101, 101);
  min-height: calc(1/6*100vh); 
  font-size: 30px;
  text-align: center;
} */
